.DS_Store
.venv/
.uv-cache/
__pycache__/
outputs/**
!outputs/
!outputs/aadhar/
!outputs/aadhar/image/
!outputs/aadhar/image/.gitkeep
!outputs/aadhar/pdf/
!outputs/aadhar/pdf/scanned/
!outputs/aadhar/pdf/scanned/.gitkeep
!outputs/aadhar/pdf/digital/
!outputs/aadhar/pdf/digital/.gitkeep
!outputs/ground_truth/
!outputs/ground_truth/image/
!outputs/ground_truth/image/.gitkeep
!outputs/ground_truth/pdf/
!outputs/ground_truth/pdf/scanned/
!outputs/ground_truth/pdf/scanned/.gitkeep
!outputs/ground_truth/pdf/digital/
!outputs/ground_truth/pdf/digital/.gitkeep
